page {
    background: white;
    /* display: block;
    margin: 0 auto; */
    /*margin-bottom: 0.5cm !important;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);*/
  }

  page[size="LETTER"][layout="portrait"] {    
    width: 100mm;
    height: 200mm;
    /* margin:auto; */
  }