/* generales */
body{ background-color: #F8F9FA; font-size: 13px; }

.content_seccion{ margin-bottom: 50px;}


/* ==================================== */
/* plantilla */
/*
 * Sidebar
 */

 .sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}


/* ==================================== */
/* plantilla */


.hide{ display: none !important;}
input { text-transform: uppercase; }
.p5{ padding:5px !important;}
.p10{ padding:10px !important;}
.pb20{ padding-bottom: 20px;}
.m0{ margin:0px !important;}
.mt10{ margin-top:10px !important;}
.mt20{ margin-top:20px !important;}
.mt50{ margin-top:50px !important;}
.ml10{ margin-left: 10px;}
.mr10{margin-right: 10px;}
.mb0{ margin-bottom: 0px !important;}
.mb10{ margin-bottom: 10px !important;}
label{font-size: 13px; font-weight: 500;}
.main-content {padding: 60px 20px;}

/* header */
.bg-dark { background: #333 !important; }
#nav-tabContent > .tab-pane{background-color: whitesmoke; }
.nav-link { color:#fff;}
.nav-link-a { color:#fff;text-decoration: none;}
.nav-link-a:hover { color:#fff;text-decoration: underline;}

/* footer */
.footer-text{ font-size: 0.9rem;}
.nav-link-footer { color: #6c757d!important; padding: 0 10px; font-size: 0.9rem;}
.nav-link-a:hover { color:#6c757d;text-decoration: underline;}

/* captura */
.titulo-declaracion-captura, .titulo1{background-color: #621132 !important; padding:10px; font-size:1rem; width: 100%; color: #fff;}
.titulo-seccion, .bg-seccion{background-color: #e0e0e0 !important; padding:10px; font-size:15px; margin-bottom: 0px;}
.subtitulo-seccion{font-size: 80%; font-weight: 400;}
.list-group-item {padding: 10px 5px;font-size: 0.8rem; background-color: transparent; border:none; border-bottom: 1px solid #e0e0e0 ;}
.list-group-item.active {background-color: #541533;border-color: #541533;}
.list-group-item.active:hover {background-color: #541533;border-color: #541533;}
.list-group-item:hover{ background-color: #e0e0e0 ;}

.bg-menu-izq{ background-color: #F8F9FA;}
.indicador{background: #b7b7b7; padding: 2px 6px; color: #212529;}
.indicador-status{background: #ffd72c; padding: 2px 6px; font-size: 0.6rem; font-weight: 600;color: #212529;}
.indicador-status-process{background: #ff6a1b; padding: 2px 6px; font-size: 0.6rem; font-weight: 600;color: #212529;}
.indicador-status-success{background: #67de65; padding: 2px 6px; font-size: 0.6rem; font-weight: 600;color: #212529;}
.form-control.error{
    background-color: #fff;
    border:1px solid #f8d7da;
}
.error{
    color: #721c24;
    border: #721c24;
    background-color: #f8d7da;
    font-size: 0.8rem;
    padding: 5px;
    width: 100%;
    font-weight: 400;
}
/* seleccion de tipo de declaracion */
.card-selectTipoDeclaracion > .card > .card-body> .card-title{ text-align: center;}
.item-selectTipoDeclaracion {
    width: 70px;
    height: 70px;
}
#optionSelectTipoDeclaracion > li> .nav-link{ color: #212529;border: 1px solid #ccc;min-height: 120px;}
#optionFormatoDeclaracion > li> .nav-link{ color: #212529;border: 1px solid #ccc;min-height: 150px;}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff !important;
    background-color: #621132;
}

.table{ font-size: 13px;}
.table td, .table th {
  padding: 5px;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
.bg-gray{background-color: rgba(0,0,0,.05);}
.table>thead{ background-color: #e0e0e0 !important;}
.nav-pills .nav-link {
    border-radius: 0;
}
.nav-link-gray{background-color: #e0e0e0; color: #212529;}
a:hover {
    color: #621132;
    text-decoration: underline;
}

/* toggle */
.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: #ad1f59;
  background-color: #ad1f59;
}

/* buttons */
/* terminar : #621132 */
.btn-secondary, .btn-warning, .btn-danger{border-radius: 0px;}
.btn-light {
    color: #fff;
    background-color: #ad1f59;
    border-color: #ad1f59;
    border-radius: 0px;
  }
  
  .btn-light:hover {
    color: #fff;
    background-color: #621132;
    border-color: #621132;
  }
  
  .btn-light:focus {
    color: #fff;
    background-color: #621132;
    border-color: #621132;
    box-shadow: 0 0 0 0.2rem rgba(216, 34, 104, 0.5);
  }
  
  .btn-light.disabled {
    color: #fff;
    background-color: #ad1f59;
    border-color: #ad1f59;
  }
  
  .btn-light:not(:disabled):not(.disabled):active,
  .show > .btn-light.dropdown-toggle {
    color: #fff;
    background-color: #621132;
    border-color: #621132;
  }
  
  .btn-light:not(:disabled):not(.disabled):active:focus
  .show > .btn-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(216, 34, 104, 0.5);
  }

  

  .btn-dark {
    color: #fff;
    background-color: #621132;
    border-color: #621132;
    border-radius: 0px;
  }
  
  .btn-dark:hover {
    color: #fff;
    background-color: #ad1f59;
    border-color: #ad1f59;
  }

  .btn-dark:focus {
    color: #fff;
    background-color: #ad1f59;
    border-color: #ad1f59;
    box-shadow: 0 0 0 0.2rem rgba(216, 34, 104, 0.5);
  }

  .btn-dark.disabled {
    color: #fff;
    background-color: #621132;
    border-color: #621132;
  }

  .btn-dark:not(:disabled):not(.disabled):active
  .show > .btn-dark.dropdown-toggle {
    color: #fff;
    background-color: #ad1f59;
    border-color: #ad1f59;
  }
  
  .btn-dark:not(:disabled):not(.disabled):active:focus
  .show > .btn-dark.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(216, 34, 104, 0.5);
  }








